<html> 
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <title> Take Photo of the Bag </title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="container">
  
            
            <div class="navbar bg-base-100">
              <div class="flex-1 text-2xl">
                <a class="btn btn-ghost text-4xl" href="/">nutrisense</a>
              </div>
              <div class="flex-none">
                <ul class="menu menu-horizontal px-1 text-xl">
                  <li><a href="photo">Take a Photo</a></li>
                </ul>
              </div>
            </div>
            <h1 class="title text-2xl font-bold">Picture Taker</h1>
            <p class="description">Click the button below to capture a picture of the item.</p>
            <video id="camera-view" autoplay></video>
            <a href="#" class="button" onclick="takePicture()">Take Picture</a>
            <input type="file" accept="image/*" class="file-input" id="upload-input" onchange="uploadPicture(event)">
            <label for="upload-input" class="upload-button">Upload Photo</label>
            <a href="{{path}}" class="proceed-button">Proceed</a>
        </div>    
        
        <script> 
          $('.proceed-button').hide();
          // Access the camera and display the video stream
  navigator.mediaDevices.getUserMedia({ video: true })
  .then(function(stream) {
    var video = document.getElementById('camera-view');
    video.srcObject = stream;
    video.play();
  })
  .catch(function(err) {
    console.log('Error accessing the camera: ', err);
  });

  // Function to capture the picture
  function takePicture() {
    var video = document.getElementById('camera-view');
    var canvas = document.createElement('canvas');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    var ctx = canvas.getContext('2d');
    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
    
    var dataURL = canvas.toDataURL('image/png');
    console.log(dataURL);
    // You can send the dataURL to the server for further processing or display it on the page
    
    // Hide other buttons and show the proceed button
    $('.button, .upload-button, .file-input').hide();
    $('.proceed').show();
    
    
    sendData(dataURL);
  }

   // Function to upload photo
   function uploadPicture(event) {
    var file = event.target.files[0];
    if (file) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var dataURL = e.target.result;
        console.log(dataURL);
        // You can send the dataURL to the server for further processing or display it on the page

        // Hide other buttons and show the proceed button
        $('.button, .upload-button, .file-input').hide();
        $('.proceed').show();
        
      };
      reader.readAsDataURL(file);
    }
  }

  function sendData(dataURL){
    console.log("hi")
    $.ajax({
      type: "POST",
      url:"{{ path }}",
      data: {
        image: dataURL
      }
    });
  }
        </script>
    </body>
</html>